.details {
  display: flex;
  justify-content: space-between;
}

.details__item {
  display: flex;
  min-height: 200px;
  position: relative;
}

.details__name {
  transform: rotate(-90deg);
  transform-origin: 0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  text-align: right;
}

.details__desc {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  width: 245px;
  padding-left: 40px;
}

.details__desc-subtext {
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 5.25px;
  opacity: 0.75;
  font-weight: normal;

  &--absolute {
    position: absolute;
    top: 105%;
    right: 0;
  }
}

.details__desc-info {
  display: flex;
}

.details__desc-input {
  width: 34.31px;
  height: 36px;
}

.details__desc-text {
  display: inline-block;
  position: relative;
  letter-spacing: 6px;
}

.details__desc-text-btns {
  width: 55px;
  position: absolute;
  top: 125%;
  right: 7px;
  display: flex;
  justify-content: space-between;
}

.details__desc-row {
  display: inline;
  position: relative;
}