.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .stars__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.stars__icon {
  width: 22px;
  height: 22px;
  filter: drop-shadow( 0px 0px 16px rgba($green, 0.544));
}