.stars {
  display: flex;
}

  .stars__item {
  width: 54px;
  height: 54px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.stars__icon {
  width: 22px;
  height: 22px;
  box-shadow: 0px 0px 16px rgba(74, 246, 205, 0.544186);
}