.subtitle {
  text-align: right;
}

.subtitle__line,
.slider-item__info-subtitle {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  opacity: 0.5;
  margin-bottom: 8px;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 23px;
    width: 80px;
    height: 1px;
    background-color: $main;
    opacity: 0.5;
  }
}

.subtitle__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;

  &--light-weight {
    font-weight: 100;
  }
}