.title {
  font-weight: 800;
  margin-left: 185px;
  position: relative;
  display: inline-block;

  @include desktopMini {
    margin-left: 0;
  }
}

.title__name {
  font-size: 80px;
  font-weight: 800;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0px;
    width: 80px;
    height: 1px;
    background-color: $green;
  }

  @include tablets {
    font-size: 60px;
  }
}

.title__subname {
  font-size: 200px;
  opacity: 0.02;
  position: absolute;
  top: 0;
  right: 14px;

  @include desktopMini {
    font-size: 150px;
    right: -76px;
  }

  @include tablets {
    font-size: 103px;
    right: -60px;
  }

  &--travel {
    right: -85px;

    @include desktop {
      right: -105px;
    }

    @include desktopMini {
      right: -146px;
    }

    @include tablets {
      right: -85px;
    }

    @include phones {
      right: -96px;
    }
  }

  &--sleep {
    right: -30px;
  }

  &--shop {
    right: 15px;

    @include desktop {
      right: -25px;
    }

    @include desktopMini {
      right: -105px;
    }

    @include tablets {
      right: -45px;
    }
  }
}