.slider-shop {
  margin-top: 85px;

  .subtitle__title {
    max-width: 340px;
    width: 100%;
    line-height: 40px;
  }

  .subtitle__line {
    margin-bottom: 20px;
  }
}

.slider-shop__item {
  display: flex !important;
}

.slider-shop__item-left {
  flex-basis: 40%;
  padding-top: 152px;
}

.slider-shop__item-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.slider-shop__style-info {
  margin-top: 45px;
}

.slider-shop__style-info-price {
  margin-top: 12px;
}

.slider-shop__btn {
  margin-top: 64px;
}

.slider-shop__extra-title {
  font-weight: 800;
  font-size: 28px;
}

.slider-shop__extra {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.slider-shop__style-picture {
  position: relative;
  flex-shrink: 0;
}

.slider-shop__style-picture-text {
  opacity: 0;
  width: 255px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  margin-left: 135px;
  position: absolute;
  transition: opacity .3s;

  &::before {
    content: '';
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: $main;
    opacity: 0.5;
  }

  &--left {
    margin-left: 0;
    left: -364px;
    text-align: right;

    &::before {
      left: 107%;
      top: 50%;
    }
  }
}

.slider-shop__style-pic-circle {
  position: absolute;

  display: flex;
  align-items: center;

  &--one {
    top: 240px;
    right: 36px;
  }

  &--two {
    top: 295px;
    left: -6px;
  }

  &--three {
    bottom: 65px;
    left: 53px;
  }
}
