.slider-shop {
  margin-top: 85px;

  .subtitle__title {
    max-width: 340px;
    width: 100%;
    line-height: 40px;
  }

  .subtitle__line {
    margin-bottom: 20px;
  }
}

.slider-shop__item {
  display: flex !important;

  @include desktopMini {
    flex-direction: column;
  }
}

.slider-shop__item-left {
  flex-basis: 40%;
  padding-top: 152px;

  @include desktopMini {
    margin-bottom: 90px;
    padding-top: 62px;
  }
}

.slider-shop__item-right {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.slider-shop__style-info {
  margin-top: 45px;
}

.slider-shop__style-info-price {
  margin-top: 12px;

  @include desktopMini {
    text-align: left;
    margin-top: 16px;
  }
}

.slider-shop__btn {
  margin-top: 64px;

  .btn-divider {
    @include desktop {
      font-size: 40px;
    }
  }
}

.slider-shop__extra-title {
  font-weight: 800;
  font-size: 28px;
  text-align: left;

  @include phones {
    text-align: center;
  }
}

.slider-shop__extra {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include desktop {
    margin-left: 25px;
  }

  @include phones {
    margin-left: 15px;
  }

  @include phonesMini {
    margin-left: 10px;
  }
}

.slider-shop__style-picture {
  position: relative;
  flex-shrink: 0;

  @include tabletsMini {
    max-width: 165px;
    width: 100%;
  }
}

.slider-shop__style-picture-text {
  opacity: 0;
  width: 255px;
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
  margin-left: 135px;
  position: absolute;
  transition: opacity .3s;

  &::before {
    content: '';
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 80px;
    height: 1px;
    background-color: $main;
    opacity: 0.5;
  }
  
  @include desktop {
    margin-left: 85px;

    &::before {
      left: -53px;
      width: 40px;
    }
  }

  &--left {
    margin-left: 0;
    left: -364px;
    text-align: right;
    
    @include desktop {
      left: -326px;
    }

    &::before {
      left: 107%;
      top: 50%;
    }

    @include desktopMini {
      margin-left: 85px;
      left: 3px;

      &::before {
        left: -22%;
      }
    }
  }

  @include tabletsMini {
    width: 205px;
    margin-left: 0;
    top: 35px;
    left: -6px;
    text-shadow: 2px 2px 4px #189E8B;

    &::before {
      display: none;
    }

    &--left {
      top: -75px;
      left: -30px;
    }
  }

  @include phonesMini {
    width: 185px;
  }
}

.slider-shop__style-pic-circle {
  position: absolute;

  display: flex;
  align-items: center;

  &--one {
    top: 240px;
    right: 36px;

    @include tabletsMini {
      top: 140px;
      right: 36px;
    }
  }

  &--two {
    top: 295px;
    left: -6px;

    @include desktopMini {
      left: 2px;
    }

    @include tabletsMini {
      top: 238px;
    }
  }

  &--three {
    bottom: 65px;
    left: 53px;

    @include tabletsMini {
      bottom: 45px;
      left: 33px;
    }
  }
}

.slider-shop__extra-info {
  margin-top: 35px;
}