footer.footer
  .container
    .footer__button
      button(type='button').btn-divider
        .btn-divider__text Go
        .btn-divider__text.btn-divider__text--background Surf
          +icon('arrow-right', 'arrow__icon')
    .footer__copy © Go-Surf 2020. All Rights Reserved.