header.header
  .header__slider
    ul.horizontal-slider
      li.horizontal-slider__item.slider-item
        .slider-item__info
          .slider-item__info-subtitle.subtitle-left Surf
          .slider-item__info-title West Shore
          .slider-item__info-subtext.subtitle-left Condition
          .slider-item__info-text Radical
          a(href="#").slider-item__info-link
            img(src="../../img/icons/arrow-right.svg", alt="")
      li.horizontal-slider__item.slider-item
        .slider-item__info
          .slider-item__info-subtitle.subtitle-left Surf
          .slider-item__info-title.title West Shore
          .slider-item__info-subtext.subtitle-left Condition
          .slider-item__info-text Radical
          a(href="#").slider-item__info-link
            img(src="../../images/icons/arrow-right.svg", alt="")