header.header
  .header__slider
    .header__slider-btns
      .slider-btns
        button(type='button').slider-btn.slider-btn--prev
          +icon('arrow-left', 'arrow__icon') 
        button(type='button').slider-btn.slider-btn--next
          +icon('arrow-right', 'arrow__icon') 
    .header__slider-slider
      ul.horizontal-slider
        li.horizontal-slider__item.slider-item
          .slider-item__info
            .slider-item__info-subtitle.subtitle-left Surf
            .slider-item__info-title North Shore
            .slider-item__info-subtext.subtitle-left Condition
            .slider-item__info-text Radical
            button(type='button').slider-item__info-link
              +icon('arrow-right', 'arrow__icon') 
        li.horizontal-slider__item.slider-item
          .slider-item__info
            .slider-item__info-subtitle.subtitle-left Surf
            .slider-item__info-title South Shore
            .slider-item__info-subtext.subtitle-left Condition
            .slider-item__info-text Radical
            button(type='button').slider-item__info-link
              +icon('arrow-right', 'arrow__icon') 
        li.horizontal-slider__item.slider-item
          .slider-item__info
            .slider-item__info-subtitle.subtitle-left Surf
            .slider-item__info-title West Shore
            .slider-item__info-subtext.subtitle-left Condition
            .slider-item__info-text Radical
            button(type='button').slider-item__info-link
              +icon('arrow-right', 'arrow__icon') 
        li.horizontal-slider__item.slider-item
          .slider-item__info
            .slider-item__info-subtitle.subtitle-left Surf
            .slider-item__info-title East Shore
            .slider-item__info-subtext.subtitle-left Condition
            .slider-item__info-text Radical
            button(type='button').slider-item__info-link
              +icon('arrow-right', 'arrow__icon')
    .header__slider-dots
      ul.slider-dots
        li.slider-dots__item
          .dots-box
            .dots-box__number 01
            .dots-box__name North Shore
        li.slider-dots__item
          .dots-box
            .dots-box__number 02
            .dots-box__name South Shore
        li.slider-dots__item
          .dots-box
            .dots-box__number 03
            .dots-box__name West Shore
        li.slider-dots__item
          .dots-box
            .dots-box__number 04
            .dots-box__name East Shore
