section.shop
  .container
    .shop__title
      .title
        h3.title__name Shop
        .title__subname.title__subname--shop.wow.fadeInLeft(data-wow-offset="300") Shop
    .shop__slider
      .shop__slider-btns
        .slider-btns
          button(type='button').slider-btn.slider-btn--prev
            +icon('arrow-left', 'arrow__icon') 
          button(type='button').slider-btn.slider-btn--next
            +icon('arrow-right', 'arrow__icon') 
      ul.slider-shop
        -
          var shopInfoList = [
            {style: 'North Nugget TT Surfboard', priceDollars: '799', priceCents: '99', mountStars: 5},
            {style: 'North Nugget TT Surfboard', priceDollars: '599', priceCents: '55', mountStars: 4},
            {style: 'North Nugget TT Surfboard', priceDollars: '399', priceCents: '88', mountStars: 3},
          ]
        each shopInfo in shopInfoList
          li.slider-shop__item
            .slider-shop__item-left
              .slider-shop__subtitle    
                .subtitle.subtitle--right-line
                  .subtitle__line Style
                  .subtitle__title #{shopInfo.style}
              .slider-shop__style-info
                .slider-shop__style-info-rating
                  - var n = shopInfo.mountStars;
                  ul.stars
                    while 0 < n
                      li.stars__item
                        +icon('star', 'stars__icon')
                      - n--
                .slider-shop__style-info-price
                  .price 
                    span.price__dollars $#{shopInfo.priceDollars}
                    sup.price__cents #{shopInfo.priceCents}
                .slider-shop__btn
                  button(type='button').btn-divider
                    .btn-divider__text Drop
                    .btn-divider__text.btn-divider__text--background In
                      +icon('arrow-right', 'arrow__icon')

            .slider-shop__item-right
              .slider-shop__style-picture.wow.fadeInUp(data-wow-offset="400")
                img.slider-shop__style-pic(src="images/content/surfboard.png", alt="")
                .slider-shop__style-pic-circle.slider-shop__style-pic-circle--one
                  button(type='button').btn-circle.active
                    .btn-circle__row
                    .btn-circle__row.btn-circle__row--rotate
                  .slider-shop__style-picture-text Double Concave with Vee Shape low point
                .slider-shop__style-pic-circle.slider-shop__style-pic-circle--two
                  button(type='button').btn-circle
                    .btn-circle__row
                    .btn-circle__row.btn-circle__row--rotate
                  .slider-shop__style-picture-text Double Concave with Vee Shape low point
                .slider-shop__style-pic-circle.slider-shop__style-pic-circle--three
                  button(type='button').btn-circle
                    .btn-circle__row
                    .btn-circle__row.btn-circle__row--rotate
                  .slider-shop__style-picture-text.slider-shop__style-picture-text--left Double Concave with Vee Shape low point

              .slider-shop__extra
                .slider-shop__extra.wow.fadeInUp
                  .slider-shop__extra-title Extras
                  .slider-shop__extra-info
                    ul.extra-products
                      li.extra-products__item
                        .extra-products__picture
                          img.extra-products__pic(src="images/content/wax.png", alt="")
                        .extra-products__title Sex Wax
                        .extra-products__price $24.99
                      li.extra-products__item
                        .extra-products__picture
                          img.extra-products__pic(src="images/content/bracelet.png", alt="")
                        .extra-products__title Pura Vida
                        .extra-products__price $27.99
