section.sleep
  .container
    .sleep__title
      .title
        h3.title__name Sleep
        .title__subname.title__subname--sleep Sleep
  .sleep__slider
    ul.slider-sleep
      -
        var sleepInfoList = [
          {resorts: 'Airlie Beach', country: 'Australia', rating: 'Excellent', mountStars: 5, resort: 'Queensland Australia'},
          {resorts: 'Malibu Beach', country: 'USA', rating: 'Very Good',  mountStars: 4, resort: 'California USA'},
          {resorts: 'Cloud Nine', country: 'Phililipines', rating: 'Good', mountStars: 3, resort: 'Siargao Phililipines'},
          {resorts: 'Vieux Beach', country: 'France', rating: 'Excellent',  mountStars: 5, resort: 'Hossegor France'},
        ]
      each sleepInfo in sleepInfoList
        li.slider-sleep__item
          .slider-sleep__header(style='background-image: url(images/bg/sleep-slider-auberge.png)')
            .container.slider-sleep__header-container
              .slider-sleep__subtitle    
                .subtitle
                  .subtitle__line Resorts
                  .subtitle__title
                    | #{sleepInfo.resorts}
                    span.subtitle__title--light-weight  | 
                    | #{sleepInfo.country}
                .slider-sleep__slider-btns
                  .slider-btns
                    button(type='button').slider-btn.slider-btn--prev
                      +icon('arrow-left', 'arrow__icon') 
                    button(type='button').slider-btn.slider-btn--next
                      +icon('arrow-right', 'arrow__icon') 
              .slider-sleep__subtitle    
                .subtitle.subtitle--right-line
                  .subtitle__line Rating
                  .subtitle__title
                    .subtitle__title-text #{sleepInfo.rating}
                    .subtitle__title-picture
                      - var n = sleepInfo.mountStars;
                      ul.stars
                        while 0 < n
                          li.stars__item
                            +icon('star', 'stars__icon')
                          - n--
            .slider-sleep__header-bottom-picture
              img.slider-sleep__header-bottom-pic(src="images/content/hammock.png", alt="")
          .slider-sleep__body(style='background-image: url(images/content/flower.png)')
            .container
              .slider-sleep__details
                ul.details
                  li.details__item
                    .details__name Resort
                    .details__desc #{sleepInfo.resort}
                  li.details__item
                    .details__name # of Nights
                    .details__desc
                      .details__desc-info
                        .details__desc-input
                          input.input-details.input-details--nights(type='number' max='9' min='1' value='5')
                        .details__desc-text Nights
                          .details__desc-text-btns
                            button.btn-controls.btn-controls--minus(type='button')
                              +icon('minus', 'btn-controls__icon')
                            button.btn-controls.btn-controls--plus(type='button')
                              +icon('plus', 'btn-controls__icon')
                  li.details__item
                    .details__name # of Guests
                    .details__desc
                      .details__desc-info
                        .details__desc-input
                          input.input-details.input-details--guests(type='number' max='9' min='1' value='4')
                        .details__desc-text guests
                          .details__desc-text-btns
                            button.btn-controls.btn-controls--minus(type='button')
                              +icon('minus', 'btn-controls__icon')
                            button.btn-controls.btn-controls--plus(type='button')
                              +icon('plus', 'btn-controls__icon')
                  li.details__item
                    .details__name Pricing
                    .details__desc
                      .details__desc-row
                        | $
                        span.details__desc-sum(data-nights='55' data-guests ='25')
                        |  USD
                        p.details__desc-subtext.details__desc-subtext--absolute Per night

            .slider-sleep__button
              button(type='button').btn-divider
                .btn-divider__text Book
                .btn-divider__text.btn-divider__text--background Stay
                  +icon('arrow-right', 'arrow__icon')