section.surf
  .container
    .surf__title
      .title
        h3.title__name Surf
        .title__subname Surf
    .surf__subtitle    
      .subtitle
        .subtitle__line Current location
        .subtitle__title
          | California
          span.subtitle__title--light-weight  | 
          | USA