.subtitle-left {
  font-family: Fira Sans;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  opacity: 0.5;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 23px;
    width: 80px;
    height: 1px;
    background-color: $main;
    opacity: 0.5;
  }
}

.arrow__icon {
  fill: $main; 
  width: 24px;
  height: 20px;
}

.btn-arrows {
  position: absolute;
  z-index: 5;
  left: 210px;
  bottom: 30px;
}

.btn-arrows__icon {
  width: 20px;
  height: 23px;

}

.slider-btns {
  position: absolute;
  right: 80px;
  top: 40px;
  z-index: 5;
}

.slider-btn {
  padding: 0;

  &--prev {
    margin-right: 20px
  }
}

.btn-search__icon {
  width: 24px;
  height: 24px;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}