.slider-sleep__header {
  background-repeat: no-repeat;
  min-height: 780px;
  width: 100%;
  position: relative;

}

.slider-sleep__header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 780px;
  height: 100%;
  position: relative;
}

.slider-sleep__header-bottom-picture {
  position: absolute;
  bottom: -80px;
  right: 0;

  @include desktop {
    width: 438px;
    height: 346px;
  }
  
  @include desktopMini {
    bottom: -40px;
  }

  @include tabletsMini {
    width: 318px;
    height: 276px;
  }

  @include phones {
    width: 278px;
    height: 226px;
    bottom: 35px;
  }
}

.slider-sleep__body {
  margin-top: 120px;
  min-height: 375px;
  background-repeat: no-repeat;
  background-position: 100% 109px;

  @include desktop {
    background-size: 147px 225px;
    background-position: 100% 210px;
    margin-top: 100px;
  }

  @include tabletsMini {
    background-position: 100% 390px;
  }

  @include phonesMiddle {
    background-size: 117px 165px;
    background-position: 100% 460px;
  }
}

.slider-sleep__button {
  margin-top: 70px;

  .btn-divider {
    margin: 0 auto;

    @include desktop {
      font-size: 40px;
      white-space: nowrap;
    }

    @include phonesMiddle {
      font-size: 30px;
      white-space: nowrap;
    }
  }
}

.slider-sleep__slider-btns {
  .slider-btns {
    position: static;
    text-align: right;
    margin-top: 32px;
  }

  .slider-btn {
    opacity: 0.25;
    transition: 0.3s;
    
    &:hover {
      opacity: 1;
    }
  }
}

.slider-sleep__subtitle {
  .subtitle__title {
    @include phones {
      line-height: 30px;
    }
  }

  .subtitle__line {
    @include desktopMini {
      margin-bottom: 7px;

      &::after {
        margin-left: 10px;
        width: 50px;
      }

      &::before {
        margin-right: 10px;
        width: 50px;
      }
    }
  }

  .subtitle--right-line {
    .subtitle__line {
      @include desktopMini {
        margin-bottom: 10;
        line-height: 21px;
      }
    }
    .subtitle__title {
      @include phonesMiddle {
        flex-wrap: wrap;
      }
    }
    .subtitle__title-picture {
      @include phonesMiddle {
        margin-left: 0;
        width: 100%;
        margin-top: 11px;
      }
    }
  }
}