.footer {
  margin-top: 280px;
  margin-bottom: 34px;
}

.footer__button {
  display: flex;
  justify-content: center;
}

.footer__copy {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.05px;
  opacity: 0.5;
  margin-top: 27px;
}