.date__day {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;

  @include phones {
    font-size: 56px;
    line-height: 45px;
  }
}

.date__month-year {
  margin-top: 5px;
  line-height: 19px;
  letter-spacing: 1.4px;
}