.header {
  position: relative;
  height: 100vh;
}

.header__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 467px;
  z-index: 15;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  opacity: 0.07;

  @include desktop {
    z-index: 5;
  }
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  border-right: 1px solid rgba($main, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;

  @include desktop {
    flex-direction: row;
    border-right: none;
    bottom: auto;
    padding-bottom: initial;
  }
}

.header__aside-logo {
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: initial;
  }
}

.header__aside-search {
  margin-top: 40px;

  @include desktop {
    margin-top: 29px;
  }
}

.header__aside-date {
  margin-top: 30px;

  @include desktop {
    margin-top: 10px;
    margin-left: 20px;
  }
}


.header__aside-location {
  margin-top: 20px;

  @include desktop {
    margin-top: 28px;
    margin-left: 20px;
  }
}

.header__map {
  position: absolute;
  z-index: 4;
  right: 0;
  top: -274px;
}

.header__map-img {
  width: 972px;
  height: 1000px;
}