.header__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 467px;
  z-index: 15;
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  text-transform: uppercase;
  color: $main;
  opacity: 0.07;
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  border-right: 1px solid rgba($main, 0.25);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header__aside-logo {
  margin-bottom: 20px;
}

.header__aside-search {
  margin-top: 40px;
}

.header__aside-date {
  margin-top: 30px;
}

.header__aside-location {
  margin-top: 20px;
}

.header__map {
  position: absolute;
  z-index: 4;
  right: 0;
  top: -274px;
}

.header__map-img {
  width: 972px;
  height: 1000px;
}