.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 59px;
}

.menu__item {
  width: 100%;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  display: block;
  color: $main;
}

.menu__icon {
  &--surf {
    width: 61px;
    height: 48px;
  }
  &--travel {
    width: 52px;
    height: 34px;
  }
  &--sleep {
    width: 41px;
    height: 41px;
  }
  &--shop {
    width: 17px;
    height: 45px;
  }
}

.menu__name {
  margin-top: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3px;
}