.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;

  .slick-current {
    .dots-box {
      border-color: $green;
    }
  }

  @include desktop {
    padding-left: 183px;
    right: 63px;
  }

  @include desktopMini {
    right: 10px;
    padding-left: 123px;
  }

  @include tablets {
    padding-left: 28px;
    bottom: 11px;
  }

  @include phonesMini {
    display: none;
  }
}

.slider-dots__item {
  @include desktop {
    padding-right: 20px;
  }
}