include templates/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="main.css")
    title Go Surf
  body
    .wrapper
      include templates/blocks/header
      //- include templates/blocks/surf
      //- include templates/blocks/travel
      //- include templates/blocks/sleep
      //- include templates/blocks/shop
      //- include templates/blocks/footer
    script(src="main.js")